<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__social social">
        <ul class="social__list">

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#rss"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#google_plus"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#skype"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#vimeo"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="img/svg/sprite.svg#tumblr"></use>
              </svg>
            </a>
          </li>

        </ul>
      </div>
      <span class="footer__copy">Kazi Erfan © All Rights Reserved </span>
    </div>
  </div>
</footer>