<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__social social">
        <ul class="social__list">

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#rss"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#google_plus"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#skype"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#vimeo"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" target="_blank">
              <svg class="social__icon">
                <use xlink:href="#tumblr"></use>
              </svg>
            </a>
          </li>

        </ul>
      </div>
      <span class="footer__copy">Kazi Erfan © All Rights Reserved </span>
    </div>
  </div>
</footer>