<header class="header" id="top">
  <div class="container">
    <div class="header__inner">
      <a href="#" title="Logo Bino" class="logo">
        <span class="logo__first">B</span>
        <span class="logo__second">INO</span>
      </a>
      <div class="mobile-menu">
        <span class="mobile-menu__line"></span>
      </div>
      <nav class="nav">
        <ul class="nav__list">

          <li class="nav__item">
            <a href="#top" class="nav__link">Home</a>
          </li>

          <li class="nav__item">
            <a href="#about" class="nav__link">About Us</a>
          </li>

          <li class="nav__item">
            <a href="#works" class="nav__link">Portfolio</a>
          </li>

          <li class="nav__item">
            <a href="#pricing" class="nav__link">Pricing</a>
          </li>

          <li class="nav__item">
            <a href="#team" class="nav__link">Team</a>
          </li>

          <li class="nav__item">
            <a href="#blog" class="nav__link">Blog</a>
          </li>

          <li class="nav__item">
            <a href="#contacts" class="nav__link">Contact</a>
          </li>
          
        </ul>
      </nav>
    </div>
  </div>
</header>