// settings

@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

//vendor styles

@import '../../node_modules/swiper/dist/css/swiper.min.css';

// @import 'swiper.min.css';


* {
  outline: none;
}

body {
  position: relative;
  background-color: $white;
  color: $dark-3;
  font-family: $default;
  font-size: 14px;
  font-style: normal;

  &.is-fixed {
    overflow: hidden;
  }
}

.page-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 16px;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font-family: $second;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition linear;

  &--solid {
    border: 1px solid $accent;
    background-color: $accent;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);

    &:hover {
      border: 1px solid darken($accent, 10%);
      background-color: darken($accent, 10%);
    }
  }

  &--transparent {
    border: 1px solid $white;

    &:hover {
      border: 1px solid $accent;
      color: $accent;
    }
  }
}

.title-sm {
  color: $dark-2;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  @include _480 {
    font-size: 28px;
    letter-spacing: normal;
  }

  &--light {
    color: $light-1;
  }

  &--white {
    color: $white;
  }
}

.subtitle-sm {
  color: $dark-3;
  font-family: 'OpenSans', serif;
  font-size: 14px;
  font-weight: 400;

  &--light {
    color: $light-1;
  }
}

.circle-line {
  position: relative;
  display: inline-block;
  padding: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: $accent;
  border-radius: 50%;


  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 0.5px);
    width: 80px;
    height: 1px;
    background-color: $dark-3;
    content: '';
  }

  &::before {
    right: 22px;
  }

  &::after {
    left: 21px;
  }
}

// blocks

.header {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 39px;

  @include _768 {
    padding-top: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  border: 3px solid $light-1;
  font-family: $second;
  font-size: 36px;
  line-height: 46px;
  text-decoration: none;

  @include _480 {
    z-index: 1;
    font-size: 24px;
    line-height: 40px;
  }

  &__first {
    display: inline-block;
    width: 49px;
    height: 50px;
    background-color: $light-1;
    color: #4a4c55;
    font-weight: 700;
    text-align: center;

    @include _480 {
      width: 40px;
      height: 40px;
    }
  }

  &__second {
    display: inline-block;
    width: 77px;
    color: $light-1;
    font-weight: 400;

    @include _480 {
      width: 50px;
    }
  }
}

.mobile-menu {
  position: relative;
  display: none;

  @include _979 {
    z-index: 1;
    display: block;
    width: 40px;
    height: 30px;
    margin-left: auto;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: $white;
      border-radius: 1px;
      content: '';
      transition: transform $transition ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &__line {
      position: absolute;
      top: 14px;
      right: 0;
      display: block;
      width: 30px;
      height: 2px;
      background-color: $white;
      border-radius: 1px;
      transition: transform $transition ease;
    }

    &.is-active {
      &::before {
        top: 0;
        transform: rotate(45deg) scaleX(0.5) translate(22px);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg) translate(10px) scaleX(0.5);
      }

      & .mobile-menu__line {
        transform: translateX(-6px);
      }
    }
  }
}

.nav {
  overflow: hidden;
  height: 100%;

  @include _979 {
    position: absolute;
    top: 0;
    right: -105%;
    width: 0;
    height: 100vh;
    background-color: rgba($dark-1, 0.95);
    overflow-y: scroll;
    transition: all $transition ease;

    &.is-active {
      right: 0;
      width: 320px;
    }
  }

  @include _480 {
    &.is-active {
      width: 100vw;
    }
  }

  &__list {
    display: flex;
    height: 100%;
    justify-content: space-between;

    @include _979 {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: column;
      padding-bottom: 30px;
      margin-top: 100px;
      transition: $transition ease;
    }
  }

  &__item {
    height: 100%;

    &:not(:last-child) {
      margin-right: 58px;

      @include _979 {
        margin-right: 0;
      }
    }

    @include _979 {
      border-bottom: 1px solid rgba($white, 0.2);
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    //height: 100%;
    padding: 16px 0;
    border-bottom: 1px solid transparent;
    color: $light-1;
    font-family: $second;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition linear;

    &:hover {
      border-bottom: 1px solid $accent;
      color: $accent;
      text-shadow: 0 0 0.8px $accent, 0 0 0.8px $accent;
      transition: $transition linear;
    }

    @include _979 {
      width: 100%;
      height: auto;
      padding-left: 40px;
      font-size: 16px;
    }
  }
}

.hero {
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__fly-first,
  &__fly-second {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__fly-first {
    background-image: url('../img/hero-fly-first.png');
  }

  &__fly-second {
    background-image: url('../img/hero-fly-second.png');
  }

  @include _600 {
    padding-top: 150px;
  }

  @include _480 {
    padding-top: 120px;
  }

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    content: '';
  }

  &::after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 30px;
    border-width: 6.5vw 50vw 0;
    border-style: solid;
    border-color: transparent $white transparent $white;
    margin: 0 auto;
    content: '';
  }

  &__inner {
    position: relative;
    z-index: 3;
    padding-top: 118px;
    padding-bottom: 294px;
    text-align: center;

    @include _979 {
      padding-top: 0;
      padding-bottom: 150px;
    }

    @include _480 {
      padding-bottom: 100px;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    color: $light-1;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;

    @include _768 {
      font-size: 18px;
      letter-spacing: normal;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $light-1;
    font-family: $second;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 7.2px;

    @include _979 {
      font-size: 50px;
      letter-spacing: 4px;
    }

    @include _768 {
      font-size: 40px;
      letter-spacing: normal;
    }

    @include _480 {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 1.2;
    }
  }

  &__circle-line {
    margin-bottom: 33px;

    @include _480 {
      margin-bottom: 10px;
    }
  }

  &__text {
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;
    color: $light-2;
    font-family: $second;
    line-height: 24px;

    @include _480 {
      margin-bottom: 40px;
    }
  }

  &__action {
    display: flex;
    justify-content: center;

    @include _480 {
      display: block;
    }
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 30px;
    }
    min-width: 225px;

    @include _600 {
      width: 90%;
      min-width: auto;
    }

    @include _480 {
      width: 100%;
      padding: 16px 10px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 50%;
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    animation: pulse 2s infinite ease-in-out;
    background-color: $light-1;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transform: translateX(-50%);

    &:hover &-icon {
      transform: translateY(15%);
    }
  }

  &__dropdown-icon {
    width: 31px;
    height: 31px;
    fill: $accent;
    transition: $transition linear;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @include _768 {
    width: 80%;
  }

  @include _600 {
    width: 100%;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 3;
  top: 46.2%;
  width: 45px;
  height: 45px;
  background-color: $accent;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 2px;

  &.swiper-button-disabled {
    background-color: #706a64;
    opacity: 1;
  }

  @include _600 {
    display: none;
  }
}

.swiper-button-icon {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 20px;
  height: 20px;
  fill: $white;
}

.swiper-button-disabled .swiper-button-icon {
  fill: #3c3530;
}

.swiper-button-prev {
  left: 3%;
  transform: rotate(180deg);
}

.swiper-button-next {
  right: 3%;
}

// features

.features {
  overflow: hidden;
  padding-top: 124px;
  padding-bottom: 111px;
  border-bottom: 1px solid #e6e7eb;

  @include _768 {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-right: -28px;
    margin-left: -28px;

    @include _1240 {
      margin-right: -15px;
      margin-left: -15px;
    }

    @include _979 {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 25%;
    margin-right: 28px;
    margin-left: 28px;

    @include _979 {
      width: calc(50% - 30px);
      margin-right: 15px;
      margin-bottom: 50px;
      margin-left: 15px;
    }

    @include _480 {
      width: 100%;
    }
  }
}

.feature-card {
  &:hover {
    .feature-card__icon::before {
      border: 1px solid $accent;
      transform: rotate(45deg);
    }

    .feature-card__title {
      color: $accent;
    }
  }

  &__icon {
    position: relative;
    width: 72px;
    height: 72px;
    margin-right: auto;
    margin-bottom: 23px;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: $transition ease;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 72px;
      height: 72px;
      border: 1px solid rgba($dark-3, 0.25);
      content: '';
      transition: $transition ease;
    }
  }

  text-align: center;

  &__title {
    position: relative;
    display: block;
    margin-bottom: 30px;
    color: $dark-2;
    font-family: $second;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.35px;
    text-align: center;
    text-transform: uppercase;
    transition: color $transition linear;

    &::before {
      position: absolute;
      bottom: -16px;
      left: 50%;
      width: 41px;
      height: 1px;
      background-color: $dark-2;
      content: '';
      transform: translateX(-50%);
    }
  }

  &__text {
    color: $dark-3;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.6;
  }
}

//about

.about {
  padding-top: 140px;
  padding-bottom: 146px;

  @include _979 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include _480 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-wrapper {
    flex-shrink: 0;
    margin-right: 80px;

    @include _1170 {
      width: 40%;
    }

    @include _979 {
      margin-right: 40px;
    }

    @include _768 {
      display: none;
    }

    &__img {
      pointer-events: none;
    }
  }

  &__title {
    position: relative;
    padding-left: 33px;
    margin-bottom: 42px;
    line-height: 1;
    text-align: left;

    @include _480 {
      margin-bottom: 20px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 6px;
      height: 36px;
      background-color: $accent;
      content: '';
      transform: translateY(-50%);
    }
  }

  &__text {
    margin-bottom: 46px;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 2.07;
    text-align: left;

    @include _480 {
      margin-bottom: 30px;
    }

    & p:not(:last-child) {
      margin-bottom: 30px;

      @include _480 {
        margin-bottom: 15px;
      }
    }
  }

  &__btn {
    display: inline-block;
    padding-right: 41px;
    padding-left: 41px;
  }

  &__info {
    @include _480 {
      text-align: center;
    }
  }
}

//services

.services {
  position: relative;
  overflow: hidden;
  background-color: $dark-1;

  &__inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__info {
    position: relative;
    width: 50%;
    margin-top: 140px;
    margin-bottom: 140px;
    text-align: right;

    @include _979 {
      width: 100%;
      margin-top: 80px;
      margin-bottom: 80px;
    }

    @include _600 {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }

  &__title {
    position: relative;
    padding-right: 30px;
    margin-bottom: 58px;

    @include _600 {
      margin-bottom: 20px;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 6px;
      height: 36px;
      background-color: $accent;
      content: '';
      transform: translateY(-50%);
    }
  }

  &__images {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding-left: 78px;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.swiper-container-services-images {
  width: 100%;
  height: 100%;

  @include _979 {
    display: none;
  }
}

.swiper-container-services-info {
  height: 500px;
  padding-right: 122px;
  margin-right: -120px;
  margin-left: 60px;
  overflow-y: hidden;

  @include _979 {
    width: 100%;
    padding-right: 180px;
    margin-right: 0;
  }

  @include _768 {
    padding-right: 130px;
    margin-left: 40px;
  }

  @include _480 {
    padding-right: 15px;
    margin-left: 15px;
  }
}

.swiper-pagination-services {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 49px;
  // width: 10px;
  // height: 150px;
  transform: translateY(-50%);

  @include _768 {
    left: 20px;
  }

  &.swiper-pagination-bullets {
    display: flex;
    flex-direction: column;
  }

  & .swiper-pagination-bullet {
    width: 10px;
    height: 34px;
    border-left: 1px solid $dark-2;
    background: none;
    border-radius: 0;

    @include _768 {
      width: 30px;
      height: 50px;
      border-left: 4px solid $dark-2;
    }

    &:not(:last-child) {
      margin-bottom: 11px;

      @include _768 {
        margin-bottom: 25px;
      }
    }

    &-active {
      width: 10px;
      border-left: 2px solid $accent;
      background: none;
      border-radius: 0;

      @include _768 {
        width: 30px;
        height: 50px;
        border-left: 4px solid $accent;
      }
    }
  }
}

.service-items__elem:not(:last-child) {
  margin-bottom: 55px;

  @include _768 {
    margin-bottom: 30px;
  }
}

.service-items {
  max-height: 100%;
  margin-bottom: 100px;

  @include _600 {
    margin-bottom: 50px;
  }
}

.service-item {
  position: relative;

  &__title {
    margin-bottom: 3px;
    color: $accent;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 18px;
    font-style: normal !important;
    font-weight: 600;
    line-height: 29px;
  }

  &__text {
    color: $dark-2;
    font-size: 14px;
    line-height: 2.07;
  }

  &::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: -112px;
    width: 64px;
    height: 64px;
    background-color: $light-1;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.25);
    content: '';
    transform: translateY(-50%);

    @include _768 {
      right: -80px;
      width: 50px;
      height: 50px;
    }

    @include _480 {
      display: none;
    }
  }

  &:nth-child(1)::before {
    background-image: url('../img/computer.svg');
  }

  &:nth-child(2)::before {
    background-image: url('../img/print-design.svg');
  }

  &:nth-child(3)::before {
    background-image: url('../img/photo.svg');
  }
}

// works

.works {
  padding-top: 123px;

  @include _768 {
    padding-top: 50px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__circle-line {
    margin-bottom: 58px;

    @include _600 {
      margin-bottom: 30px;
    }
  }
}

.works-nav {
  position: relative;
  margin-bottom: 43px;

  @include _600 {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    font-family: $second;
    text-transform: uppercase;

    @include _768 {
      justify-content: left;
      margin: 0 0 0 20px;
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }

  &__item {
    position: relative;
    flex-shrink: 0;

    @include _768 {
      padding-bottom: 10px;

      &:first-child {
        margin-left: 2px;
      }

      &:last-child {
        &::after {
          position: absolute;
          right: -20px;
          display: block;
          width: 50px;
          height: 1px;
          content: '';
        }
      }
    }

    &:not(:last-child) {
      margin-right: 42px;

      @include _768 {
        margin-right: 30px;
      }

      &::before {
        position: absolute;
        top: 0;
        right: -25px;
        content: '/';

        @include _768 {
          right: -18px;
        }
      }
    }
  }

  &__input {
    display: none;

    &:checked ~ .works-nav__label {
      color: transparent;

      &::after {
        opacity: 1;
      }
    }
  }

  &__label {
    position: relative;
    cursor: pointer;
    transition: $transition ease;

    &:hover {
      color: transparent;

      &::after {
        opacity: 1;
      }
    }

    &::after {
      position: absolute;
      top: -1px;
      left: 50%;
      display: inline-block;
      color: $accent;
      content: attr(data-value);
      font-weight: bold;
      opacity: 0;
      transform: translateX(-50%);
      transition: $transition ease;
      white-space: nowrap;
    }
  }

  &__shadow {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    // Using 0% rgba value instead of transparent because of Safari.
    background: linear-gradient(to right, rgba(#ffffff, 0), #ffffff 80%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;

    &.is-visible {
      opacity: 1;
    }

    &--start {
      left: 0;
      transform: rotate(180deg);
    }

    &--end {
      right: 0;
    }
  }
}

.works-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__card {
    width: 25%;

    @include _768 {
      width: 50%;
    }
  }
}

.works-card {
  position: relative;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    .works-card__overlay {
      opacity: 1;
    }
  }

  &::before {
    display: block;
    padding-top: 100%;
    content: '';
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 44px 50px;
    background-color: rgba($accent, 0.8);
    opacity: 0;
    text-align: left;
    transition: opacity $transition linear;
  }

  &__title {
    position: relative;
    display: block;
    margin-bottom: 8px;
    color: $white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    &::before {
      position: absolute;
      top: -23px;
      left: 0;
      width: 42px;
      height: 4px;
      background-color: $white;
      content: '';
    }
  }

  &__info {
    display: block;
    color: $white;
    font-family: $second;
    letter-spacing: 0.7px;
  }
}

//study

.study {
  padding-top: 135px;
  padding-bottom: 194px;
  background-color: $light-1;

  @include _768 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 105px;

    @include _768 {
      margin-top: 40px;
    }
  }

  &__info {
    z-index: 1;
    max-width: 665px;
    padding: 80px 60px 40px 60px;
    background-color: $white;
    box-shadow: $shadow-card-lg;

    @include _768 {
      padding: 40px 40px 20px 40px;
      margin: 0 auto;
    }

    @include _480 {
      padding: 20px 20px 10px 20px;
      margin: 0 auto;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

.swiper-container-study-images {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 0;
  width: 585px;
  height: 722px;
  transform: translateY(-50%);

  @include _768 {
    display: none;
  }

  & .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.study-card {
  &__icon {
    position: relative;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 68px;
    margin-left: auto;
    background-color: $accent;
    transform: rotate(45deg);

    @include _600 {
      width: 60px;
      height: 60px;
      margin-bottom: 40px;
    }

    &-inner {
      transform: rotate(-45deg);
    }
  }

  &__title {
    position: relative;
    margin-bottom: 47px;
    color: $dark-2;
    font-family: 'OpenSans-Semibold', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    &::before {
      position: absolute;
      bottom: -23px;
      left: 50%;
      width: 41px;
      height: 1px;
      background-color: $dark-2;
      content: '';
      transform: translateX(-50%);
    }
  }

  &__text {
    margin-bottom: 42px;
    color: $dark-3;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1.8;

    @include _600 {
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: inline-block;
    min-width: 146px;
    padding: 13px;
    font-size: 12px;
    font-weight: 400;
  }
}

.swiper-container-study-info {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 8px;
}

.swiper-pagination-study {
  margin-top: 50px;

  @include _600 {
    margin-top: 30px;
  }
}

.swiper-pagination-study .swiper-pagination-bullet {
  padding: 6px;
  background-color: $light-2;
  border-radius: 50%;

  &-active {
    background-color: $accent;
  }
}

//amount

.amount {
  position: relative;
  overflow: hidden;
  height: 510px;

  @include _979 {
    height: 580px;
  }

  @include _600 {
    height: auto;
  }

  &__bg {
    position: relative;
    height: 120%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      background-size: 100%;
      content: '';
      opacity: 0.5;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 157px;
    padding-bottom: 136px;

    @include _979 {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include _600 {
      align-items: flex-start;
    }
  }

  &__item {
    width: 20%;

    @include _979 {
      width: calc(100% / 3);
      margin-bottom: 30px;
    }

    @include _600 {
      width: 50%;
      margin-bottom: 30px;
    }
  }
}

.item-amount {
  text-align: center;

  &__icon {
    width: 111px;
    height: 111px;
    border: 1px solid $white;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 31px;
    border-radius: 50%;

    @include _600 {
      width: 90px;
      height: 90px;
      margin-bottom: 20px;
    }
  }

  &:nth-child(2) {
    .item-amount__number::after {
      content: 'K';
    }
  }

  &__number {
    display: block;
    color: $light-1;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  &__text {
    color: $light-1;
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

// pricing

.pricing {
  padding-top: 140px;
  padding-bottom: 146px;

  @include _768 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 11px;
  }

  &__subtitle {
    margin-bottom: 21px;
  }

  &__cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: -15px;
    margin-left: -15px;

    @include _1170 {
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      overflow-y: hidden;
    }

    @include _768 {
      margin-top: 40px;
    }
  }

  &__cards-item {
    width: calc(100% / 3);
    margin-right: 8px;
    margin-left: 8px;

    @include _1170 {
      min-width: max-content;
      flex-shrink: 0;
      margin-bottom: 10px;

      &:first-child, {
        margin-left: 15px;
      }

      &:last-child {
        position: relative;
        margin-right: 15px;

        &::after {
          position: absolute;
          right: -15px;
          display: block;
          width: 15px;
          height: 1px;
          content: '';
        }
      }
    }

    @include _480 {
      flex-shrink: 0;
    }
  }
}

.pricing-card {
  background-color: $light-1;

  @include _350 {
    min-width: 89%;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px 40px 130px 40px;
    background-color: $dark-3;
    transition: $transition background-color ease;

    @include _768 {
      padding: 30px 20px 100px 20px;
    }

    @include _350 {
      padding: 30px 20px 90px 20px;
    }

    &--active {
      background-color: $accent;
    }
  }

  &__title {
    color: $white;
    font-family: 'OpenSans-Semibold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  &__price-wrapper {
    position: absolute;
    bottom: -38%;
    left: 50%;
    display: flex;
    width: 153px;
    height: 153px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 0 11px rgba($light-1, 0.5);
    transform: translateX(-50%);

    @include _768 {
      width: 130px;
      height: 130px;
    }

    @include _350 {
      bottom: -35%;
      width: 110px;
      height: 110px;
    }
  }

  &__price {
    display: block;
    color: $dark-3;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
  }

  &__time {
    color: $dark-3;
    font-size: 13px;
  }

  &__body {
    padding: 120px 86px 50px 86px;

    @include _768 {
      padding: 100px 20px 40px 20px;
    }

    @include _350 {
      padding: 80px 20px 40px 20px;
    }
  }

  &__list {
    margin-bottom: 46px;

    @include _350 {
      margin-bottom: 30px;
    }
  }

  &__btn {
    max-width: 148px;
    padding: 12px;
    border: 1px solid $dark-3;
    margin-right: auto;
    margin-left: auto;
    background-color: $dark-3;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.14px;
  }

  &--active {
    .pricing-card__header {
      background-color: $accent;
    }

    .pricing-card__price {
      color: $accent;
    }
  }

  &:hover {
    .pricing-card__btn {
      border: 1px solid $accent;
      background-color: $accent;
    }

    .pricing-card__header {
      background-color: $accent;
    }
  }
}

.plus-list {
  &__item {

    color: $dark-3;
    font-family: $second;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

// team

.team {
  position: relative;
  min-height: 744px;
  padding-top: 134px;
  padding-bottom: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include _768 {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 90px;
    display: none;
    width: 2px;
    height: 100%;
    background-color: $accent;
    content: '';

    @include _768 {
      display: block;
    }

    @include _480 {
      left: 50px;
    }
  }

  &::after {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 87.5%;
    background-image: url('../img/team-line.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';

    @include _768 {
      display: none;
    }
  }

  &__inner {
    position: relative;
    text-align: center;
  }

  &__title {
    margin-bottom: 11px;
  }

  &__subtitile {
    margin-bottom: 20px;

    @include _600 {
      max-width: 200px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  &__circle-line {
    @include _480 {
      text-align: left;
    }
  }

  &__line-team {
    z-index: 2;
    margin-top: 133px;

    @include _768 {
      margin-top: 50px;
    }
  }
}

.team-line {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1350px) {
    padding: 0 50px;
  }

  @include _768 {
    display: block;
  }

  @include _480 {
    padding: 0 10px;
  }

  &__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &-wrapper {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 0 0 3px $accent;
      transition: $transition ease;

      @include _768 {
        margin-bottom: 30px;
      }

      &:nth-child(1) {
        //margin-top: 55px;
        margin-top: calc(5vw - 40px);

        @include _768 {
          margin-top: 0;
        }
      }

      &:nth-child(4) {
        margin-top: 40px;

        @media (max-width: 1040px) {
          margin-top: calc(6vw - 30px);
        }

        @include _768 {
          margin-top: 0;
        }
      }

      &:nth-child(5) {
        //margin-top: -7px;
        margin-top: calc(-5vw + 70px);

        @include _768 {
          margin-top: 0;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 50%;
        content: '';
        transition: background-color $transition ease;
      }

      &:hover {
        box-shadow: 0 0 0 3px $accent, 0 5px 16px 2px #000000;
        transform: scale(1.5);

        &::before {
          background-color: rgba($accent, 0.5);
        }

        & .team-line__description {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__description {
    position: absolute;
    bottom: -120px;
    left: 50%;
    padding-top: 100px;
    opacity: 0;
    transform: translateX(-50%) scale(0.7);
    transition: $transition ease;
    visibility: hidden;

    @include _979 {
      opacity: 1;
      transform: translateX(-50%) scale(0.9);
      visibility: visible;
    }

    @include _768 {
      bottom: 0;
      left: 150px;
      transform: translateX(0) scale(0.9);
    }

    @include _480 {
      left: 120px;
    }

    &::before {
      position: absolute;
      top: 48px;
      left: 50%;
      width: 1px;
      height: 50px;
      background-color: rgba($white, 0.75);
      content: '';
      transform: translateY(-50%);

      @include _979 {
        top: 60px;
      }

      @include _768 {
        top: 110px;
        left: -60px;
        transform: translateY(0) rotate(90deg);
      }

      @include _480 {
        left: -40px;
      }
    }
  }

  &__name {
    display: inline-block;
    color: $accent;
    font-family: $second;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.8px;
    white-space: nowrap;
  }

  &__position {
    color: $white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
}

// partners

.partners {
  padding-top: 135px;
  padding-bottom: 110px;
  border-bottom: 1px solid #d8d9db;
  background-color: $light-1;

  @include _768 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 15px;
    letter-spacing: normal;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    margin-right: -15px;
    margin-left: -15px;

    @include _1170 {
      justify-content: center;
    }

    @include _768 {
      padding-top: 20px;
    }

    @include _600 {
      margin-right: -5px;
      margin-left: -5px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    width: calc(20% - 30px);
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    background-color: $white;
    box-shadow: $shadow-partner;
    transition: box-shadow $transition ease;

    @include _1170 {
      width: calc(25% - 30px);
    }

    @include _979 {
      width: calc(33.333% - 30px);
    }

    @include _768 {
      width: calc(33.333% - 30px);
    }

    @include _600 {
      width: calc(50% - 10px);
      margin-right: 5px;
      margin-bottom: 10px;
      margin-left: 5px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.7);
      content: '';
      transition: $transition background-color ease;
    }

    &:hover {
      box-shadow: $shadow-partner-active;

      &::before {
        background-color: transparent;
      }
    }
  }
}

// blog

.blog {
  padding-top: 102px;
  background-color: $light-1;
  text-align: center;

  @include _768 {
    padding-top: 50px;
  }

  &__title {
    margin-bottom: 17px;
    letter-spacing: normal;
  }

  &__subtitle {
    margin-bottom: 17px;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

    @include _768 {
      margin-top: 30px;
    }
  }

  &__item {
    @media (min-width: 1401px) {
      width: 50%;

      &:nth-child(4n),
      &:nth-child(4n-1) {
        flex-direction: row-reverse;

        .blog__info::before {
          right: -70px;
          transform: translateY(-50%) rotate(270deg);
        }
      }
    }

    @media screen and (min-width: 601px) and (max-width: 1400px) {
      width: 100%;

      &:nth-child(even) {
        flex-direction: row-reverse;

        .blog__info::before {
          right: -70px;
          transform: translateY(-50%) rotate(270deg);
        }
      }
    }
  }
}

.blog-card {
  display: flex;

  @include _600 {
    //flex-direction: column;
    display: block;
  }

  &__img {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include _600 {
      width: 100%;
      padding-top: 80%;
    }
  }

  &__info {
    position: relative;
    width: 50%;
    padding: 68px 50px 64px;
    background-color: $accent;
    color: $white;
    text-align: left;

    @include _768 {
      padding: 30px;
    }

    @include _600 {
      width: 100%;
    }

    @include _480 {
      padding: 20px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: -72px;
      display: block;
      height: 70px;
      border-width: 32px 40px 0;
      border-style: solid;
      border-color: $accent transparent $accent;
      margin: 0 auto;
      content: '';
      transform: translateY(-50%) rotate(90deg);
    }
  }

  @media (min-width: 1401px) {
    &:nth-child(4n),
    &:nth-child(4n-1) {
      flex-direction: row-reverse;

      .blog-card__info::before {
        left: 98%;
        transform: translateY(-50%) rotate(270deg);
      }
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1400px) {
    &:nth-child(even) {
      flex-direction: row-reverse;

      .blog-card__info::before {
        left: 98%;
        transform: translateY(-50%) rotate(270deg);
      }
    }
  }

  @include _600 {
    .blog-card__info::before {
      top: -34px;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) rotate(180deg);
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: 17px;
    font-family: $second;
    font-size: 14px;
    letter-spacing: 0.7px;

    @include _768 {
      margin-bottom: 10px;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 55px;
    font-size: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    @include _768 {
      margin-bottom: 30px;
    }

    &::before {
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 44px;
      height: 4px;
      background-color: $white;
      content: '';
    }
  }

  &__text {
    margin-bottom: 47px;
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.88;

    @include _768 {
      margin-bottom: 20px;
    }
  }

  &__footer {
    position: relative;
    padding-right: 30px;
    color: inherit;
    font-family: $second;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    transition: $transition ease;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '»';
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      transform: scaleY(1.1) translateX(-12px);
      transition: transform $transition ease;
    }

    &:hover {
      border-bottom: 1px solid $white;

      &::after {
        transform: translateX(0);
      }
    }
  }
}

//contacts

.contacts {
  padding-top: 135px;
  padding-bottom: 150px;
  background-color: $light-1;
  text-align: center;

  @include _768 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 15px;
    letter-spacing: normal;
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-right: -15px;
    margin-left: -15px;

    @include _979 {
      display: block;
    }

    @include _768 {
      margin-top: 30px;
    }
  }

  &__info {
    margin: 0 15px;
  }

  &__form {
    flex-grow: 1;
    margin: 0 15px;
  }
}

.info-contacts {
  overflow: hidden;
  max-width: 478px;
  padding: 85px 90px 100px 90px;
  background-color: $white;
  box-shadow: $shadow-card-lg;
  text-align: left;

  @include _979 {
    max-width: 100%;
    margin-bottom: 15px;
  }

  @include _768 {
    padding: 50px;
  }

  @include _480 {
    padding: 20px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 54px;

      @include _480 {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    margin-bottom: 14px;
    color: $accent;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;

    @include _480 {
      margin-bottom: 8px;
    }
  }

  &__info {
    color: $dark-3;
    font-family: $second;
    font-size: 18px;
    line-height: 1.4;
  }

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-contacts {
  position: relative;
  overflow: hidden;
  padding: 90px 98px 100px 98px;
  background-color: $white;
  box-shadow: $shadow-card-lg;
  text-align: left;

  @include _768 {
    padding: 50px;
  }

  @include _480 {
    padding: 25px 20px 20px;
  }

  &__list {
    margin-bottom: 29px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid rgba($dark-3, 0.25);
    border-radius: 0;
    color: $dark-1;
    font-family: inherit;
    font-size: 16px;

    // &:focus,
    // &:not(:placeholder-shown),
    // &:-webkit-autofill {
    //   & ~ label {
    //     top: -20px;
    //   }
    // }

    // &:focus ~ label,
    // &:not(:focus):valid ~ label {
    //   top: -20px;
    // }
  }

  .form-error {
    position: absolute;
    right: 0;
    bottom: -20px;
    color: $accent;
    font-size: 14px;
  }

  &__textarea {
    overflow: auto;
    min-height: 116px;
    resize: none;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-family: $second;
    font-size: 14px;
    font-weight: 600;
    transition: transform $transition ease;

    &.is-floating {
      transform: scale(0.9) translateY(-20px);
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 26px;
    }

    &.form-group.has-danger .form-contacts__input {
      border-bottom: 1px solid $accent;
    }

    &.form-group.has-success .form-contacts__input {
      border-bottom: 1px solid green;
    }
  }

  &__btn {
    padding: 11px 24px;

    @include _480 {
      width: 100%;
    }
  }
}

.form-thx {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $white;
  opacity: 0;
  text-align: center;
  transform: translateY(-50%);
  transition: $transition ease;
  visibility: hidden;

  &__text {
    color: $dark-2;
    font-size: 24px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $accent;
  }

  &.is-open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.pristine-error {
  position: absolute;
  right: 0;
  padding: 0 5px;
  background-color: $accent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: $white;
}

//start

.start {
  position: relative;
  overflow: hidden;
  height: 480px;

  @include _768 {
    height: 400px;
  }

  &__bg {
    height: 120%;
    padding-top: 138px;
    padding-bottom: 138px;
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover;

    @include _768 {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000000, 0.7);
      content: '';
    }
  }

  &__inner {
    position: relative;
    text-align: center;
  }

  &__title {
    color: $white;
    font-family: $second;
    font-size: 36px;
    font-weight: 400;

    @include _480 {
      font-size: 28px;
    }
  }

  &__subtitle {
    margin-bottom: 68px;
    color: $white;
    font-family: $second;
    font-size: 18px;
    font-weight: 400;

    @include _768 {
      font-size: 14px;
    }
  }

  &__btn {
    min-width: 225px;
    margin: 0 auto;
  }
}

//footer

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $dark-1;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include _600 {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__copy {
    display: block;
    color: rgba($dark-2, 0.75);
    font-family: $second;
    font-weight: 600;
  }
}

.social {
  @include _600 {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $dark-3;
    transition: fill $transition ease;
  }

  &__link {
    &:hover {
      .social__icon {
        fill: $accent;
      }
    }
  }
}

.scroll-to-top {
  position: fixed;
  z-index: 10;
  right: 52px;
  bottom: 64px;
  display: flex;
  width: 53px;
  height: 53px;
  align-items: center;
  justify-content: center;
  background-color: $accent;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 0;
  transition: $transition ease;
  visibility: hidden;

  @include _768 {
    right: 20px;
    bottom: 25px;
  }

  &__icon {
    width: 13px;
    height: 13px;
    fill: $white;
  }

  &:hover {
    background-color: darken($accent, 10%);
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  //z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s all;
  visibility: hidden;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

